.article__list__item {
    width: auto;
    margin: 0% 0px 5% 0px;
    background: rgba(255,255,255,0.2);
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.articles__list {
    background-color: #f99797
}