
.Footer {
    border-top: 20px solid #3f3f3e;
    background: #363635;
}


.Footer__icon {
    color: #F05D58;
}

.Footer__icon::before {
    font-size: 40px;
}

.Footer__copyright {
    display: flex;
    justify-content: center;
    background: #363635;
    color: #DDDDCD;
    padding: 20px 20px 20px 20px;
    font-weight: 700;
}
