.App {
    background-color: white;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: 'Amatic SC', cursive;
    color: #e68516;
    font-size: 20px;
    
}

.App--fixe {
    position: fixed;
    overflow: hidden;
}

strong {
    font-weight: 700;
}

.banner{
    font-size: 60px;
    text-align: center;
    background-image: url(https://st2.depositphotos.com/4202565/9540/v/950/depositphotos_95408650-stock-illustration-vintage-circus-background.jpg);
    background-position: center;
    width: 100%;
}

a {
    text-decoration: none;
}