.App {
    background: #ffffff ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: 'Amatic SC', cursive;
    color: #363635;
    font-size: 20px;
    
}

.App--fixe {
    position: fixed;
    overflow: hidden;
}

strong {
    font-weight: 700;
}

.banner{
  background-color:#f99797;
  font-size: 30px;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  padding: 5%;
}